@import "tailwindcss";

@theme {
  --color-admin-primary: #2563eb;
  --color-admin-secondary: #4f46e5;
  --color-admin-bg: #f8fafc;
  --color-admin-card: #ffffff;
  --color-admin-border: #e2e8f0;
  --color-admin-text-main: #0f172a;
  --color-admin-text-muted: #64748b;
}

@layer base {
  body {
    @apply antialiased text-admin-text-main bg-admin-bg font-sans;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-sm;
  }
}